/*@media screen and (min-width: 400px) and (max-width: 767px ) {
  .logo {
    height: 60px;
    margin-right: 0.5em;
  }
  h1.title {
    text-align: right;
    font-size: 3em;
  }
  h3.title {
    font-size: 1.5em;
    vertical-align: bottom;
    margin-top: .2em;
  }
  h2{
    font-size: 2em;
  }
  .container {
    margin-top: 125px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .logo {
    height: 130px;
    margin-right: 0.5em;
  }
  h1.title {
    text-align: right;
    font-size: 5em;
  }
  h3.title {
    font-size: 2.5em;
    vertical-align: bottom;
    margin-top: .2em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.5em;
  }
  .featured_work {
    margin-left: 5em;
  }
  .link {
    font-size: 2em;
  }
  p {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    height: 60px;
    margin-right: 0.5em;
  }
  h1.title {
    text-align: right;
    font-size: 2em;
  }
  h3.title {
    font-size: 1.25em;
    vertical-align: bottom;
    margin-top: .2em;
  }
  h2{
    font-size: 2em;
  }
  .container {
    margin-top: 125px;
  }
  p.social{
    font-size: 1em;
  }
}*/